.v-toolbar{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.v-toolbar__title{
    padding-top: 65px !important;
}

.NabvarTools .v-btn span{
    color: #13375B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

@media screen and (max-width:770px) and (min-width: 1px){
    .NabvarTools .v-btn span{
        color: #13375B;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }

}